.learn-more {
  /* height: 352px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn-more-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26%;
  height: 313px;
  gap: 15px;
}
.learn-more-el-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
}
.learn-more-el-description {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  height: 70px;
  width: 266.67px;
  text-align: center;
}
.learn-more-el-button {
  width: 138px;
  height: 44px;
  border: 1px solid var(--blue);
  border-radius: 6px;
  color: var(--blue);
}
@media (max-width: 600px) {
  .learn-more-el {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .learn-more {
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 1279px) {
  .learn-more {
    justify-content: space-evenly;
  }
}
@media (max-width: 280px) {
}
