:root {
  --blue: #0984dd;
  --gray: #7d879c;
  --darkgray: #2b3445;
}
body {
  margin: 0;
  font-family: "Open sans", sans-serif;
  user-select: none;
  color: var(--darkgray);
}
button {
  cursor: pointer;
}
